

$temaOscuro:(
    colorBorde:rgba(135, 204, 252, 0.885),
    colorFondo:black,
    color:white,
);

$temaClaro:(
    colorBorde:rgba(135, 204, 252, 0.885),
    colorFondo:white,
    color:black,
);

$bordes:dashed,solid,groove,double,inset,outset;

$color_principal:rgb(106, 189, 249);