@media only screen and (max-width: 330px){

  header{
    display: grid!important;
    grid-template-columns: auto!important;
    grid-template-rows: auto auto auto!important;
    justify-items: flex-start!important;
  }
  body{
    justify-items: flex-start!important;
  }
}


body{
  background-color: black;
  display: grid;
  grid-template-rows: min-content min-content min-content auto;
  width:100vw;
  height:100vh;
  align-items: start;
  justify-items: center;
  margin: 0;
  overflow:auto;
  
}

header{
 display: grid;
 grid-template-columns: auto auto auto;
 margin:20px;
 gap:20px;
 align-items: center;
 justify-content: space-around;
 width:100%;
}

#imalogo{  
 height:70px;
 width:300px;
}

#imalogo:hover{
 border:solid;
 border-width: 1px;
 border-color: rgba(255, 0, 0, 0.562);
}
.buscador{
 display: flex;
 flex-direction: row;
 gap: 10px;
 flex-wrap: nowrap;
 margin-right: 20px;
 align-items: center;
 border: solid;
 border-width:2px;
 border-color: rgba(128, 0, 0, 0.548);
 padding: 15px;
}

.buscador:hover{
background-color: rgba(128, 0, 0, 0.329);
}

.list-group-item{
 background: linear-gradient(to right, rgba(0, 0, 0, 0.473), rgba(128, 128, 128, 0.418) , rgba(128, 128, 128, 0.377));
}

.list-group > li{
 border-color:rgba(255, 0, 0, 0.452);
}
.list-group-item > a{
 text-decoration: none;
 color: rgb(211, 0, 0);
 font-weight: bolder;
}
.list-group:hover > li{
 border-color:red;
}
.list-group > li:hover > a{
 text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.514);
}

label{
 color:white;
}

main{
 display: flex;
 gap:30px;
 margin:20px;
 position: relative;
 
}
.centro{
 width:1000px;
 /*margin-top:-200px;*/
}

.lateralizq{
 width:75px;
 height:fit-content;
 margin-left:20px;
 display: flex;
 flex-direction: column;
 justify-self: flex-start;
}

#botonesAjustes{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  width:100%;
}
#pista{
  justify-self: flex-end;
  margin-right:20px;
}
.btn-secondary{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.473), rgba(128, 128, 128, 0.377),rgba(255, 255, 255, 0.63));
}


section{
  height:100%;
}
.lateralder{
 width:200px;
}


h1,h2,p {
  color:white;
}





.footer{
background-color: red;
text-align: center;
margin-left: 5vw;
margin-right: 5vw;
width:90vw;
height:fit-content;
align-self: flex-end;
}

div.modal-content{
    background-color: rgba(0, 0, 0, 0.863);
}

button.btn-close{
    background-color: red;
}

#staticBackdropLabel{
    text-align: center;
}

.modal-header{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.modal-body{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:2vh;
    justify-content: space-evenly;
}


#colorTexto {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: rgba(107, 107, 107, 0.63);
    z-index: 1;
    display: none;
  }
  
#colorTexto p {
    display: table-cell;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    
  }

#botonColorOcultar{
    float:right;
    
  }

#colorFondo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: rgba(107, 107, 107, 0.63);
    z-index: 1;
    display: none;
  }
  
#colorFondo p {
    display: table-cell;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    
  }

#botonFondoOcultar{
    float:right;
    
  }
  .botonesColores{
    width: 4vw;
    height:4vh;
  }
  #botonNegro{
    background-color:black;
  }
  #botonRojoOscuro{
    background-color: darkred;
  }
  #botonGris{
    background-color: grey;
  }
  #botonFondoNegro{
    background-color:black;
  }
  #botonFondoRojoOscuro{
    background-color: darkred;
  }
  #botonFondoGris{
    background-color: grey;
  }

  .contenedorContenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contenedorContenido>h1,p{
    text-align: center;
  }